* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus:active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  font-family: "Roboto", sans-serif;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.header {
  background-color: #EFEFEF;
  text-align: center;
}
.header__menu {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  height: 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1110px;
}
.header__menu_item {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  margin: 0 15px;
}

.container {
  background-color: #fff;
  text-align: center;
}

.second-header {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  height: 100px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1110px;
}
.second-header_left-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.second-header_right-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.second-header_shop-name {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.1em;
  color: #66C05D;
  margin-left: 20px;
}
.second-header_contact-button {
  background-color: #ffffff;
  color: #000;
  width: 166px;
  height: 38px;
  border: 2px solid #66C05D;
  border-radius: 40px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  margin-left: 40px;
  padding: 9px 27px 13px 26px;
}
.second-header_phone-number {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

.menu {
  height: 80px;
  border-top: 1px solid #EFEFEF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.menu_item {
  margin: 0 20px;
  font-size: 16px;
  line-height: 19px;
}

.background_container {
  display: inline-block;
  width: 1100px;
  height: 0;
  position: relative;
}

.sale {
  max-height: 604px;
  height: 100%;
  background-color: #66C05D;
  text-align: center;
  overflow: hidden;
}
.sale_container {
  height: 604px;
  width: 1110px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.sale_bg1 {
  width: 859px;
  height: 859px;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  z-index: 0;
}
.sale_bg2 {
  width: 677px;
  height: 677px;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 50%;
  position: absolute;
  z-index: 3;
}

.chair-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 849px;
  height: 849px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 10px;
}

.sale-img {
  position: absolute;
  z-index: 3;
  top: 110px;
  right: 135px;
  margin-top: 20px;
  width: 584px;
  height: 584px;
}

.chair_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 325px;
  height: 219px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.chair_title {
  width: 325px;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
  color: #FFFFFF;
  text-align: left;
}
.chair_description {
  width: 325px;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  color: #FFFFFF;
  text-align: left;
}
.chair_button {
  background: #66C05D;
  border: 2px solid #FFFFFF;
  border-radius: 40px;
  width: 166px;
  height: 38px;
  color: white;
}

.goods {
  background-color: #EFEFEF;
  text-align: center;
}
.goods_container {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 1110px;
  height: 520px;
}
.goods_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 70px 0 16.45px 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.goods_header_text {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}
.goods_header_img {
  width: 189px;
  height: 61px;
}
.goods_ords {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.goods_item {
  width: 255px;
  height: 363px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 25px;
  padding-bottom: 25px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.goods_description {
  max-width: 195px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #333333;
}
.goods_price {
  font-weight: 500;
  font-size: 21px;
  line-height: 25px;
  text-align: center;
  letter-spacing: 0.05em;
  color: #000000;
}
.goods_buy-button {
  width: 130px;
  height: 35px;
  background-color: #66C05D;
  border-radius: 30px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-justify: auto;
  text-align: center;
  letter-spacing: 0.05em;
  color: #FFFFFF;
}

.goods-image {
  width: 125px;
  height: 166px;
}

.subscribe {
  background-color: #EFEFEF;
  text-align: center;
}

.sub-blocks {
  width: 1110px;
  height: 435px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.sub-blocks_right-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 35px 40px;
  min-width: 540px;
  max-height: 212px;
  height: 100%;
  background-color: #66C05D;
}
.sub-blocks_left-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 35px 45px 35px 40px;
  min-width: 540px;
  max-height: 212px;
  height: 100%;
  background-color: #66C05D;
}

.text-block {
  height: 142px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: left;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.text-block_map-button {
  max-width: 170px;
  width: 100%;
  max-height: 35px;
  height: 100%;
  background: #66C05D;
  border: 2px solid #FFFFFF;
  border-radius: 30px;
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #FFFFFF;
}
.text-block_bonuses {
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
}
.text-block_description {
  text-align: left;
  max-width: 231px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #FFFFFF;
}

.email-input {
  height: 35px;
  width: 225px;
  background: #FFFFFF;
  border-radius: 30px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  /* identical to box height */
  padding: 0 0 0 25px;
  text-align: left;
  color: #C4C4C4;
}

.pre-footer {
  background-color: #fff;
  text-align: center;
}
.pre-footer_container {
  width: 1100px;
  height: 120px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 236px;
}

.icon-img_yt {
  width: 22px;
  height: 15px;
}
.icon-img_vk {
  width: 28.04px;
  height: 15px;
}
.icon-img_fb {
  width: 20px;
  height: 20px;
}
.icon-img_inst {
  width: 22px;
  height: 22px;
}

.circle-icn {
  /* Accent */
  border: 2px solid #66C05D;
  border-radius: 50%;
}

.information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 337px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.phone-number {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */
  color: #000000;
}

.callback {
  width: 170px;
  height: 40px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
  background: #FFFFFF;
  /* Accent */
  border: 2px solid #66C05D;
  border-radius: 40px;
}

.footer {
  background-color: #EFEFEF;
  text-align: center;
}
.footer_small {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  height: 64px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1110px;
}
.footer_small_item {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #828282;
}